<div class="begin-session">
  <% if flash[:alert].present? %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag sessions_path do %>

    <div class="table-row">
      <span class="table-cell name"></span>
      <span class="table-cell" style="padding-bottom: 20px;">
        <span class="above-form-registr">
          <span class="padding-to-sessions input-selection">Вход</span>
          <%= link_to 'Регистрация', new_user_path %>
        </span>
      </span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= label_tag 'Имя' %></span>
      <span class="table-cell"><%= text_field_tag :name %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= label_tag 'Пароль' %></span>
      <span class="table-cell"><%= password_field_tag :password %></span>
    </div>

    <div class="table-row">
      <span class="table-cell"></span>
      <span class="table-cell">
        <%= submit_tag 'Войти', class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
</div>
