<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Введите сведения о пользователе</legend>

    <% if flash[:alert].present? %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Имя' %></span>
      <span class="table-cell"><%= f.text_field :name %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Аватар' %></span>
      <span class="table-cell"><%= f.file_field :avatar, accept: "image/png" %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Пароль' %></span>
      <span class="table-cell"><%= f.password_field :password %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Подтвердить пароль' %></span>
      <span class="table-cell"><%= f.password_field :password_confirmation %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"></span>
      <span class="table-cell"><%= f.submit 'Создать пользователя' %></span>
    </div>
  </fieldset>
<% end %>
