<% if flash[:notice].present? %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>

<% if @user.avatar %>
  <%= image_tag "/avatars/avatar#{ @user.name }.png", width: "76" %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
