<div class="categories">
  <% Ñategory_selection.each do |name_categorie, value| %>
    <% if name_categorie.to_s == categories %>
      <div class="categories-menu active-categorie"><%= link_to "#{name_categorie}", value %></div>
    <% else %>
      <div class="categories-menu"><%= link_to "#{name_categorie}", value %></div>
    <% end %>
  <% end %>
</div>
<div class="categories-people">
  <% @posts.each do |post| %>
    <div class="people-block">
      <%= link_to((image_tag post.image.url(:medium)), post_path(post)) %>

      <h3><%= link_to post.title, post_path(post) %></h3>

      <div class="people-block-summary"><%= link_to post.summary, post_path(post) %></div>
    </div>
  <% end %>
</div>
