<div class="save-form">
  <%= form_for([post, Comment.new]) do |f| %>
    <%= f.error_messages %>
    <div class="table-row">
      <span class="table-cell"><%= f.hidden_field :name, :value => current_user.name %></span>
    </div>

    <div class="table-row">
      <span class="table-cell">
        <%= f.text_area :body, size: "60x4", :placeholder => "#{current_user.name.capitalize}, прокомментируйте эту статью..."  %>
      </span>
    </div>

    <div class="table-row">
      <span class="table-cell"><%= f.submit 'Оставить комментарий' %></span>
    </div>
  <% end %>
</div>
