<div class="save-form">
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Имя' %></span>
      <span class="table-cell"><%= f.text_field :name %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Текст' %></span>
      <span class="table-cell"><%= f.text_area :body, size: "60x10" %></span>
    </div>

    <div class="table-row">
      <span class="table-cell"></span>
      <span class="table-cell"><%= f.submit 'Оставить комментарий' %></span>
    </div>
  <% end %>
</div>
