<div class="save-form-post">
  <%= form_for @post do |f| %>
    <%= f.error_messages %>
    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Название статьи' %></span>
      <span class="table-cell"><%= f.text_field :title, class: "font-size-title" %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Ранг статьи' %></span>
      <span class="table-cell"><%= f.select :rank, (1..4) %></span>
    </div>

    <!-- <div class="table-row">
      <span class="table-cell name"><%= f.label 'Выбрать категорию' %></span>
      <span class="table-cell"><%= f.select :categorie, options_for_select(Post.all.collect { |m| m.categorie }.uniq, '') %></span>
      <%= change_categorie = params[:categorie] %>
    </div> -->

    <%= f.fields_for(:categories) do |u| %>
       <div class="table-row">
         <span class="table-cell name"><%= u.label 'Создать категорию' %></span>
         <span class="table-cell"><%= u.text_field :categorie %></span>
       </div>
     <% end %>

    <!-- <div class="table-row">
      <span class="table-cell name"><%= f.label 'Создать категорию' %></span>
      <span class="table-cell"><%= f.text_field :categorie %></span>
    </div> -->
<!--
    <% if change_categorie != nil %>
      <%= f.hidden_field :categorie, :value => change_categorie %>
    <% end %>
 -->
    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Фото статьи' %></span>
      <span class="table-cell"><%= f.file_field :image %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Краткое описание статьи' %></span>
      <span class="table-cell"><%= f.text_area :summary %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'Текст статьи' %></span>
      <span class="table-cell-text"><%= f.text_area :body %></span>
    </div>

    <div class="table-row">
      <span class="table-cell"></span>
      <span class="table-cell"><%= f.submit 'Сохранить' %></span>
    </div>
  <% end %>
</div>
