<div class="save-form" >
  <%= form_for @post do |f| %>
    <%= f.error_messages %>
    <div class="table-row" >
      <span class="table-cell name"><%= f.label :title %></span>
      <span class="table-cell"><%= f.text_field :title, size: "30" %></span>
    </div>

    <div class="table-row" >
      <span class="table-cell name"><%= f.label :image %></span>
      <span class="table-cell"><%= f.file_field :image %></span>
    </div>

    <div class="table-row" >
      <span class="table-cell name"><%= f.label :summary %></span>
      <span class="table-cell"><%= f.text_area :summary, size: "80x10" %></span>
    </div>

    <div class="table-row" >
      <span class="table-cell name"><%= f.label :body %></span>
      <span class="table-cell"><%= f.text_area :body, size: "80x20" %></span>
    </div>

    <div class="table-row">
      <span class="table-cell"></span>
      <span class="table-cell"><%= f.submit 'Сохранить' %></span>
    </div>
  <% end %>
</div>
