<h1 class="title-posts">ЛЮДИ</h1>

<div class="green">
  <% index = 0 %>
  <% while index < 5 do %>
    <% if @category_one[index] %>
      <div class="green-bottom">
        <div class="green-part", style="background-image: url(<%= @category_one[index].image.url %>); background-size: cover;">
          <%= link_to(post_path(@category_one[index]), class: "link-text-green") do %>
            <p>
              <%= truncate(@category_one[index].title, length: 72) %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% index += 1 %>
  <% end %>
</div>

<div class="people">
  <%= render partial: 'posts/partials/people1', locals: { rank_number: {rank: 1}, collection: @category_one } %>

  <%= render partial: 'posts/partials/people2', locals: { rank_number: {rank: 2}, collection: @category_one } %>

  <section class="people3">
    <ul>
      <% index2 = 0 %>
      <% while index2 < 3 do %>
        <li>
          <%= render partial: 'people3_path', locals: { rank_number: {rank: 3} } %>
        </li>

        <% index2 += 1 %>
      <% end %>
    </ul>
  </section>
</div>

<div class="line"></div>
