<div class="categories">
  <% сategory_selection.each do |name_categorei| %>
    <% if name_categorei == 'Люди' %>
      <div class="categories-menu active-categorie"><%= link_to "#{name_categorei}", categorie_path %></div>
    <% else %>
      <div class="categories-menu"><%= link_to "#{name_categorei}", categorie_path %></div>
    <% end %>
  <% end %>
</div>
<div class="categories-people">
  <% @posts.where(categorie: 'Люди').each do |post| %>
    <div class="people-block">
      <%= image_tag post.image.url(:medium) %>

      <h3><%= post.title %></h3>

      <div class="people-block-summary"><%= post.summary %></div>
    </div>
  <% end %>
</div>
