<h1 id="title-posts">Популярные статьи</h1>

<div class="carousel-">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="6000">
  <div class="carousel-inner" role="listbox">
    <% default = "active" %>
    <% @posts.each do |post| %>
      <div class="carousel-item <%= default %>">
        <% default = nil %>
        <%= link_to((image_tag post.image.url), post_path(post)) %>
        <p><%= link_to(post.title, post_path(post)) %></p>
        <span><%= link_to(post.summary, post_path(post)) %></span>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="post-two">
  <% @posts.each do |post| %>
      <div class="block">
        <%= link_to((image_tag post.image.url), post_path(post)) %>
      </div>
    <% end %>
</div>
