<div class="top-news">
  <div class="top-pages">
    <div class="top-pages-inside">
      <%= render partial: 'top_news', locals: { post_class: "top-pages-top", main_post: @main_posts[0] } %>

      <%= render partial: 'top_news', locals: { post_class: "top-pages-bottom", main_post: @main_posts[1] } %>
    </div>
  </div>
  <div class="top-pages">
    <div class="top-pages-inside">
      <%= render partial: 'top_news', locals: { post_class: "top-pages-bottom none-top-marg", main_post: @main_posts[2] } %>

      <%= render partial: 'top_news', locals: { post_class: "top-pages-top", main_post: @main_posts[3] } %>
    </div>
  </div>
  <div class="top-pages">
    <div class="top-pages-inside">
      <%= render partial: 'top_news', locals: { post_class: "top-pages-bottom none-top-marg", main_post: @main_posts[4] } %>
      <%= render partial: 'top_news', locals: { post_class: "top-pages-bottom none-top-marg", main_post: @main_posts[5] } %>
      <%= render partial: 'top_news', locals: { post_class: "top-pages-bottom", main_post: @main_posts[6] } %>
    </div>
  </div>
  <div class="top-pages">
    <div class="top-pages-inside">
      <%= render partial: 'top_news', locals: { post_class: "top-pages-top", main_post: @main_posts[7] } %>

      <%= render partial: 'top_news', locals: { post_class: "top-pages-bottom", main_post: @main_posts[8] } %>
    </div>
  </div>
</div>

<% foo = 1 %>

<% @main_categories.each do |category| %>
  <% if foo.odd? %>
    <%= render partial: 'main_left', locals: { id_category: category.id } %>
  <% elsif foo.even? %>
    <%= render partial: 'main_center', locals: { id_category: category.id } %>
  <% end %>

  <% foo += 1 %>
<% end %>
