<div class="top-news">
  <% if @posts.find_by(rank: 2) %>
    <% @posts.where(rank: 2).limit(4).each do |post| %>
      <div class="top-pages">
        <div class="top-pages-top"><%= link_to((image_tag post.image.url), post_path(post)) %></div>
        <div class="top-pages-bottom"><%= link_to((image_tag post.image.url), post_path(post)) %></div>
      </div>
    <% end %>
  <% end %>
</div>

<h1 id="title-posts">ЛЮДИ</h1>

<div class="green">
  <% if @posts.find_by(rank: 2) %>
    <% @posts.where(rank: 2).limit(5).each do |post| %>
      <div class="green-part"><%= link_to((image_tag post.image.url), post_path(post)) %></div>
    <% end %>
  <% end %>
</div>

<div class="people">
  <% if @posts.find_by(rank: 1) %>
    <section class="people1">
      <figure><%= image_tag(Post.find_by(rank: 1).image.url) %></figure>
      <article>
        <div class="people1-title">
          <div class="people1-group">СОЦИУМ</div>
          <h3><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h3>
        </div>
        <div class="people1-summary"><%= Post.find_by(rank: 1).summary %></div>
      </article>
    </section>
  <% end %>
  <section class="people2">
    <% if @posts.find_by(rank: 4) %>
      <figure><%= image_tag(Post.find_by(rank: 4).image.url) %></figure>
      <article>
        <h4 id="people2-title"><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
        <div class="people2-summary"><%= Post.find_by(rank: 4).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people3">
    <ul>
      <li>
        <% if @posts.find_by(rank: 3) %>
          <figure><%= image_tag(Post.find_by(rank: 3).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 3).title, post_path(Post.find_by(rank: 3))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 1) %>
          <figure><%= image_tag(Post.find_by(rank: 1).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 2) %>
          <figure><%= image_tag(Post.find_by(rank: 2).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 2).title, post_path(Post.find_by(rank: 2))) %></h4>
          </div>
        <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="line"></div>

<h1 id="title-posts">АВТО</h1>

<div class="green">
  <% if @posts.find_by(rank: 3) %>
    <% @posts.where(rank: 3).limit(5).each do |post| %>
      <div class="green-part"><%= link_to((image_tag post.image.url), post_path(post)) %></div>
    <% end %>
  <% end %>
</div>

<div class="people">
  <section class="people2">
    <% if @posts.find_by(rank: 4) %>
      <figure><%= image_tag(Post.find_by(rank: 4).image.url) %></figure>
      <article>
        <h4 id="people2-title"><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
        <div class="people2-summary"><%= Post.find_by(rank: 4).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people1">
    <% if @posts.find_by(rank: 1) %>
      <figure><%= image_tag(Post.find_by(rank: 1).image.url) %></figure>
      <article>
        <div class="people1-title">
          <div class="people1-group">СОЦИУМ</div>
          <h3><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h3>
        </div>
        <div class="people1-summary"><%= Post.find_by(rank: 1).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people3">
    <ul>
      <li>
        <% if @posts.find_by(rank: 2) %>
          <figure><%= image_tag(Post.find_by(rank: 2).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 2).title, post_path(Post.find_by(rank: 2))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 4) %>
          <figure><%= image_tag(Post.find_by(rank: 4).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 3) %>
          <figure><%= image_tag(Post.find_by(rank: 3).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 3).title, post_path(Post.find_by(rank: 3))) %></h4>
          </div>
        <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="line"></div>
