<div class="top-news">
  <div class="top-pages">
    <% if @main_posts[0] %>
      <div class="top-pages-top", style="background-image: url(<%= @main_posts[0].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[0]), class: "link-text") do %>
          <p><%= @main_posts[0].title %></p>
        <% end %>
      </div>
    <% end %>
    <% if @main_posts[1] %>
      <div class="top-pages-bottom", style="background-image: url(<%= @main_posts[1].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[1]), class: "link-text") do %>
          <p><%= @main_posts[1].title %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="top-pages">
    <% if @main_posts[2] %>
      <div class="top-pages-bottom none-top-marg", style="background-image: url(<%= @main_posts[2].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[2]), class: "link-text") do %>
          <p><%= @main_posts[2].title %></p>
        <% end %>
      </div>
    <% end %>
    <% if @main_posts[3] %>
      <div class="top-pages-top", style="background-image: url(<%= @main_posts[3].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[3]), class: "link-text") do %>
          <p><%= @main_posts[3].title %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="top-pages">
    <% if @main_posts[4] %>
      <div class="top-pages-bottom none-top-marg", style="background-image: url(<%= @main_posts[4].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[4]), class: "link-text") do %>
          <p><%= @main_posts[4].title %></p>
        <% end %>
      </div>
    <% end %>
    <% if @main_posts[5] %>
      <div class="top-pages-bottom none-top-marg", style="background-image: url(<%= @main_posts[5].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[5]), class: "link-text") do %>
          <p><%= @main_posts[5].title %></p>
        <% end %>
      </div>
    <% end %>
    <% if @main_posts[6] %>
      <div class="top-pages-bottom", style="background-image: url(<%= @main_posts[6].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[6]), class: "link-text") do %>
          <p><%= @main_posts[6].title %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="top-pages">
    <% if @main_posts[6] %>
      <div class="top-pages-top", style="background-image: url(<%= @main_posts[6].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[6]), class: "link-text") do %>
          <p><%= @main_posts[6].title %></p>
        <% end %>
      </div>
    <% end %>
    <% if @main_posts[7] %>
      <div class="top-pages-bottom", style="background-image: url(<%= @main_posts[7].image.url %>); background-size: cover;">
        <%= link_to(post_path(@main_posts[7]), class: "link-text") do %>
          <p><%= @main_posts[7].title %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<h1 id="title-posts">ЛЮДИ</h1>

<div class="green">
  <% index = 0 %>
  <% while index < 5 do %>
    <% if @minor_posts[index] %>
      <div class="green-bottom">
        <div class="green-part", style="background-image: url(<%= @minor_posts[index].image.url %>); background-size: cover;">
          <%= link_to(post_path(@minor_posts[index]), class: "link-text-green") do %>
            <p><%= @minor_posts[index].title %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% index += 1 %>
  <% end %>
</div>

<div class="people">
  <% if @posts.find_by(rank: 1) %>
    <section class="people1">
      <figure><%= link_to(image_tag(Post.find_by(rank: 1).image.url), post_path(Post.find_by(rank: 1)))  %></figure>
      <article>
        <div class="people1-title">
          <div class="people1-group">СОЦИУМ</div>
          <h3><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h3>
        </div>
        <div class="people1-summary"><%= Post.find_by(rank: 1).summary %></div>
      </article>
    </section>
  <% end %>
  <section class="people2">
    <% if @posts.find_by(rank: 4) %>
      <figure><%= link_to(image_tag(Post.find_by(rank: 4).image.url), post_path(Post.find_by(rank: 4))) %></figure>
      <article>
        <h4 id="people2-title"><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
        <div class="people2-summary"><%= Post.find_by(rank: 4).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people3">
    <ul>
      <li>
        <% if @posts.find_by(rank: 3) %>
          <figure><%= link_to(image_tag(Post.find_by(rank: 3).image.url), post_path(Post.find_by(rank: 3))) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 3).title, post_path(Post.find_by(rank: 3))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 1) %>
          <figure><%= link_to(image_tag(Post.find_by(rank: 1).image.url), post_path(Post.find_by(rank: 1))) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 2) %>
          <figure><%= link_to(image_tag(Post.find_by(rank: 2).image.url), post_path(Post.find_by(rank: 2))) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 2).title, post_path(Post.find_by(rank: 2))) %></h4>
          </div>
        <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="line"></div>

<h1 id="title-posts">АВТО</h1>

<div class="green">
  <% index = 0 %>
  <% while index < 5 do %>
    <% if @secondary_posts[index] %>
      <div class="green-bottom">
        <div class="green-part", style="background-image: url(<%= @secondary_posts[index].image.url %>); background-size: cover;">
          <%= link_to(post_path(@secondary_posts[index]), class: "link-text-green") do %>
            <p><%= @secondary_posts[index].title %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% index += 1 %>
  <% end %>
</div>

<div class="people">
  <section class="people2">
    <% if @posts.find_by(rank: 4) %>
      <figure><%= link_to(image_tag(Post.find_by(rank: 4).image.url), post_path(Post.find_by(rank: 4))) %></figure>
      <article>
        <h4 id="people2-title"><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
        <div class="people2-summary"><%= Post.find_by(rank: 4).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people1">
    <% if @posts.find_by(rank: 1) %>
      <figure><%= link_to(image_tag(Post.find_by(rank: 1).image.url), post_path(Post.find_by(rank: 1))) %></figure>
      <article>
        <div class="people1-title">
          <div class="people1-group">СОЦИУМ</div>
          <h3><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h3>
        </div>
        <div class="people1-summary"><%= Post.find_by(rank: 1).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people3">
    <ul>
      <li>
        <% if @posts.find_by(rank: 2) %>
          <figure><%= link_to(image_tag(Post.find_by(rank: 2).image.url), post_path(Post.find_by(rank: 2))) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 2).title, post_path(Post.find_by(rank: 2))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 4) %>
          <figure><%= link_to(image_tag(Post.find_by(rank: 4).image.url), post_path(Post.find_by(rank: 4))) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 3) %>
          <figure><%= link_to(image_tag(Post.find_by(rank: 3).image.url), post_path(Post.find_by(rank: 3))) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 3).title, post_path(Post.find_by(rank: 3))) %></h4>
          </div>
        <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="line"></div>
