<div class="top-news">
  <div class="top-pages">
    <% if @main_posts[0] %>
      <div class="top-pages-top"><%= link_to((image_tag @main_posts[0].image.url), post_path(@main_posts[0])) %></div>
    <% end %>
    <% if @main_posts[1] %>
      <div class="top-pages-bottom"><%= link_to((image_tag @main_posts[1].image.url), post_path(@main_posts[1])) %></div>
    <% end %>
  </div>
  <div class="top-pages">
    <% if @main_posts[2] %>
      <div class="top-pages-bottom none-top-marg"><%= link_to((image_tag @main_posts[2].image.url), post_path(@main_posts[2])) %></div>
    <% end %>
    <% if @main_posts[3] %>
      <div class="top-pages-top"><%= link_to((image_tag @main_posts[3].image.url), post_path(@main_posts[3])) %></div>
    <% end %>
  </div>
  <div class="top-pages">
    <% if @main_posts[4] %>
      <div class="top-pages-bottom none-top-marg"><%= link_to((image_tag @main_posts[4].image.url), post_path(@main_posts[4])) %></div>
    <% end %>
    <% if @main_posts[5] %>
      <div class="top-pages-bottom none-top-marg"><%= link_to((image_tag @main_posts[5].image.url), post_path(@main_posts[5])) %></div>
    <% end %>
    <% if @main_posts[6] %>
      <div class="top-pages-bottom"><%= link_to((image_tag @main_posts[6].image.url), post_path(@main_posts[6])) %></div>
    <% end %>
  </div>
  <div class="top-pages">
    <% if @main_posts[6] %>
      <div class="top-pages-top"><%= link_to((image_tag @main_posts[6].image.url), post_path(@main_posts[6])) %></div>
    <% end %>
    <% if @main_posts[7] %>
      <div class="top-pages-bottom"><%= link_to((image_tag @main_posts[7].image.url), post_path(@main_posts[7])) %></div>
    <% end %>
  </div>
</div>

<h1 id="title-posts">ЛЮДИ</h1>

<div class="green">
  <% if @minor_posts %>
    <% @minor_posts.each do |post| %>
      <div class="green-part"><%= link_to((image_tag post.image.url), post_path(post)) %></div>
    <% end %>
  <% end %>
</div>

<div class="people">
  <% if @posts.find_by(rank: 1) %>
    <section class="people1">
      <figure><%= image_tag(Post.find_by(rank: 1).image.url) %></figure>
      <article>
        <div class="people1-title">
          <div class="people1-group">СОЦИУМ</div>
          <h3><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h3>
        </div>
        <div class="people1-summary"><%= Post.find_by(rank: 1).summary %></div>
      </article>
    </section>
  <% end %>
  <section class="people2">
    <% if @posts.find_by(rank: 4) %>
      <figure><%= image_tag(Post.find_by(rank: 4).image.url) %></figure>
      <article>
        <h4 id="people2-title"><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
        <div class="people2-summary"><%= Post.find_by(rank: 4).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people3">
    <ul>
      <li>
        <% if @posts.find_by(rank: 3) %>
          <figure><%= image_tag(Post.find_by(rank: 3).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 3).title, post_path(Post.find_by(rank: 3))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 1) %>
          <figure><%= image_tag(Post.find_by(rank: 1).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 2) %>
          <figure><%= image_tag(Post.find_by(rank: 2).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 2).title, post_path(Post.find_by(rank: 2))) %></h4>
          </div>
        <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="line"></div>

<h1 id="title-posts">АВТО</h1>

<div class="green">
  <% if @posts.find_by(rank: 3) %>
    <% @posts.where(rank: 3).limit(5).each do |post| %>
      <div class="green-part"><%= link_to((image_tag post.image.url), post_path(post)) %></div>
    <% end %>
  <% end %>
</div>

<div class="people">
  <section class="people2">
    <% if @posts.find_by(rank: 4) %>
      <figure><%= image_tag(Post.find_by(rank: 4).image.url) %></figure>
      <article>
        <h4 id="people2-title"><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
        <div class="people2-summary"><%= Post.find_by(rank: 4).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people1">
    <% if @posts.find_by(rank: 1) %>
      <figure><%= image_tag(Post.find_by(rank: 1).image.url) %></figure>
      <article>
        <div class="people1-title">
          <div class="people1-group">СОЦИУМ</div>
          <h3><%= link_to(Post.find_by(rank: 1).title, post_path(Post.find_by(rank: 1))) %></h3>
        </div>
        <div class="people1-summary"><%= Post.find_by(rank: 1).summary %></div>
      </article>
    <% end %>
  </section>

  <section class="people3">
    <ul>
      <li>
        <% if @posts.find_by(rank: 2) %>
          <figure><%= image_tag(Post.find_by(rank: 2).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 2).title, post_path(Post.find_by(rank: 2))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 4) %>
          <figure><%= image_tag(Post.find_by(rank: 4).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 4).title, post_path(Post.find_by(rank: 4))) %></h4>
          </div>
        <% end %>
      </li>
      <li>
        <% if @posts.find_by(rank: 3) %>
          <figure><%= image_tag(Post.find_by(rank: 3).image.url) %></figure>
          <div class="people3-title">
            <h4><%= link_to(Post.find_by(rank: 3).title, post_path(Post.find_by(rank: 3))) %></h4>
          </div>
        <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="line"></div>
