<%= form_tag change_rank_posts_path, method: :post do %>
  <table class="table">
    <thead>
      <tr>
        <th class="list-first-column">Название статьи</th>
        <th class="list-second-column">Ранг статьи</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td scope="row" class="list-first-column">
            <%= link_to post.title, post_path(post) %>
            <span id="list_name_category">
              <% if Category.find_by(id: post.category_id) %>
                <%= Category.find_by(id: post.category_id).name %>
              <% end %>
            </span>
          </td>
          <td class="list-second-column">
            <%= select_tag post.id, options_for_select([1, 2, 3, 4, 5], post.rank) %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td></td>
          <td>
            <%= submit_tag 'Сохранить', class: "button-exp" %>
          </td>
        </tr>
    </tbody>
  </table>
<% end %>
