<div class="categories">
  <%= render partial: "categories/category_menu", locals: { categories: @post.category_id } %>
</div>

<div class="show">
  <div id="show-image">
    <%= image_tag @post.image.url %>
  </div>
  <h2><%= @post.title %></h2>
  <div class="text-post"><%= @post.body %>

    <% if current_user && current_user.admin? %>
      <div>
        <span class="actions"><%= link_to 'Редактировать статью', edit_post_path(@post) %></span>
        |
        <span class="actions"><%= link_to 'Удалить статью', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?'} %></span>
      </div>
    <% end %>
  </div>
</div>

<div id="discussion">
    <h1>ОБСУЖДЕНИЕ</h1>
    <div class="border"></div>

  <% if @best_comment.present? %>
    <div class="best-comment">
      <%= render partial: 'comments/comment', object: @best_comment, locals: { best_comment: true } %>
    </div>
  <% end %>

  <%= render partial: "comment_form", locals: { post: @post } %>

  <%= render partial: 'comments/comment', collection: @comments, locals: { best_comment: false } %>
</div>
