<div class="post show">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
</div>

<% if current_user && current_user.name == 'admin' %>
  <span class="actions"><%= link_to 'Редактировать статью', edit_post_path(@post) %></span>
  |
  <span class="actions"><%= link_to 'Удалить статью', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?'} %></span>
<% end %>

<h1 id="discussion">Обсуждение</h1>

<div class="best-comment">
  <% @comments.each do |comment| %>
    <% if comment.likes.count == @max_like && comment.likes.count != 0 %>
      <div class="comment">
        <h3><%= comment.name %></h3>
        <p>
          <%= comment.body %>
        </p>
        <br>
        <div>
          <div class="like"><img src="/assets/like.png" width="35" height="35"></div>
          <div class="like like-count"><%= comment.likes.count %></div>
          <div class="like"><span>Лучший комментарий</span></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if User.find_by(id: session[:user_id]) %>
  <%= render "comment" %>
<% end %>

<% @comments.sort_by do |comment| %>
  <div class="comment">
    <h3><%= comment.name %></h3>
    <p>
      <%= comment.body %>
    </p>
    <span id="date_comment">Создан <%= comment.created_at %></span>

    <% if current_user && current_user.name == 'admin' %>
      <span><%= link_to 'Удалить комментарий', [comment.post, comment], method: :delete, data: { confirm: 'Вы уверены?'} %></span>
    <% end %>
    <br>
    <br>

    <% if current_user.present? %>
      <% if comment.from?(current_user) %>
        <div class="like-all">
          <div class="like"><img src="/assets/like-full.png" width="35" height="35"></div>
          <div class="like like-count"><%= comment.likes.count %></div>
          <div class="like-botton"><%= button_to 'Дизлайк', comment_like_path(comment, :id), :method => :delete  %></div>
        </div>
        <% else %>
        <div class="like-all">
          <div class="like"><img src="/assets/like.png" width="35" height="35"></div>
          <div class="like like-count"><%= comment.likes.count %></div>
          <div class="like-botton"><%= button_to 'Лайк', comment_likes_path(comment) %></div>
        </div>
      <% end %>
    <% else %>
      <div class="like"><img src="/assets/like.png" width="35" height="35"></div>
      <div class="like like-count"><%= comment.likes.count %></div>
    <% end %>
  </div>
<% end %>
