<div class="show">
    <h3><%= @post.title %></h3>
    <div id="show-image">
      <%= image_tag @post.image.url %>
    </div>
    <p><%= @post.body %></p>
</div>

<% if current_user && current_user.name == 'admin' %>
  <span class="actions"><%= link_to 'Редактировать статью', edit_post_path(@post) %></span>
  |
  <span class="actions"><%= link_to 'Удалить статью', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?'} %></span>
<% end %>

<h1 id="discussion">Обсуждение</h1>

<div class="best-comment">
  <% if @best_comment.present? %>
    <div class="comment">
      <h3><%= @best_comment.name %></h3>
      <p>
        <%= @best_comment.body %>
      </p>
      <br>
      <% if current_user.present? %>
        <% if @best_comment.likes.where(:user_id => current_user.id).present? %>
          <div class="like-all">
            <div class="like"><img src="/assets/like-full.png" width="35" height="35"></div>
            <div class="like like-count"><%= @best_comment.likes.count %></div>
            <div class="like-botton"><%= button_to 'Дизлайк', comment_like_path(@best_comment, :id), :method => :delete %></div>
            <div class="like"><span>Лучший комментарий</span></div>
          </div>
        <% else %>
          <div class="like-all">
            <div class="like"><img src="/assets/like.png" width="35" height="35"></div>
            <div class="like like-count"><%= @best_comment.likes.count %></div>
            <div class="like-botton"><%= button_to 'Лайк', comment_likes_path(@best_comment) %></div>
            <div class="like"><span>Лучший комментарий</span></div>
          </div>
        <% end %>
      <% else %>
        <div class="like"><img src="/assets/like.png" width="35" height="35"></div>
        <div class="like like-count"><%= @best_comment.likes.count %></div>
        <div class="like"><span>Лучший комментарий</span></div>
      <% end %>
    </div>
  <% end %>
</div>

<% if User.find_by(id: session[:user_id]) %>
  <%= render "comment_form" %>
<% end %>

<%= render "comments" %>
