<div class="post show">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
</div>

<% if current_user && current_user.name == 'admin' %>
  <span class="actions"><%= link_to 'Редактировать статью', edit_post_path(@post) %></span>
  |
  <span class="actions"><%= link_to 'Удалить статью', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?'} %></span>
<% end %>

<h1 id="discussion">Обсуждение</h1>

<% @max_like = 0 %>
<% @comments.each do |comment| %>
  <% a = comment.likes.count %>
  <% if a > @max_like %>
    <% @max_like = a %>
  <% end %>
<% end %>

<div class="best-comment">
  <% @comments.each do |comment| %>
    <% if comment.likes.count == @max_like && comment.likes.count != 0 %>
      <div class="comment">
        <h3><%= comment.name %></h3>
        <p>
          <%= comment.body %>
        </p>
        <br>
        <div>
          <div class="like"><img src="/assets/<%= like_image %>" width="35" height="35"></div>
          <div class="like like-count"><%= comment.likes.count %></div>
          <div class="like"><span>Лучший комментарий</span></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if User.find_by(id: session[:user_id]) %>
  <%= render "comment" %>
<% end %>

<% @comments.sort_by do |comment| %>
  <div class="comment">
    <h3><%= comment.name %></h3>
    <p>
      <%= comment.body %>
    </p>
    <span id="date_comment">Создан <%= comment.created_at %></span>

    <% if current_user && current_user.name == 'admin' %>
      <span><%= link_to 'Удалить комментарий', [comment.post, comment], method: :delete, data: { confirm: 'Вы уверены?'} %></span>
    <% end %>

    <br>
    <br>

    <div>
      <div class="like"><img src="/assets/<%= like_image %>" width="35" height="35"></div>
      <div class="like like-count"><%= comment.likes.count %></div>

      <% if User.find_by(id: session[:user_id]) %>
        <div><%= button_to 'Лайк', comment_likes_path(comment), :method => :post %></div>
      <% end %>
    </div>
  </div>
<% end %>
