<div class="category-new">
  <%= form_for @category do |f| %>
    <%= f.error_messages %>
    <div class="table-row">
      <span class="table-cell name"><%= f.label 'название категории' %></span>
      <span class="table-cell"><%= f.text_field :name %></span>
    </div>

    <div class="table-row">
      <span class="table-cell name"><%= f.label 'приоритет категории' %></span>
      <span class="table-cell">
        <%= f.select :priority, options_for_select([1, 2, 3, 4]) %>
      </span>
    </div>

    <div class="table-row">
      <span class="table-cell"></span>
      <span class="table-cell"><%= f.submit 'Сохранить', class: "button-new-post2" %></span>
    </div>
  <% end %>
</div>
