<!DOCTYPE html>
<html>
  <head>
    <title>Onliner-clone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://gc.onliner.by//images/logo/icons/favicon.ico">
  </head>
  <body>
    <div class="top-menu">
      <div class="top-menu-inside">
        <div class="catalog">
          <span>Каталог</span>
          <span>Новости</span>
          <span>Автобарахолка</span>
          <span>Дома и квартиры</span>
          <span>Услуги</span>
          <span>Барахолка</span>
          <span>Форум</span>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="top-bar">
        <div class="logo">
          <%= link_to((image_tag "https://gc.onliner.by/images/logo/onliner_logo.v3.png?token=1498651481", size: '180x40'), posts_path) %>
        </div>

        <div class="search">
          <div class="search-inside">
            <%= form_tag search_news_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: "Поиск в Каталоге. Например, 'паркет tarkett'" %>
            <% end %>
          </div>
        </div>

        <div class="input">
          <% if current_user %>
            <div class="user avatar">
              <% if current_user.avatar %>
                <%= link_to((image_tag "/avatars/#{current_user.id}/#{ current_user.avatar }", size: '60x60', class: "user-with-avatar"), user_path(current_user.id)) %>
              <% else %>
                <%= link_to((image_tag url_for('https://content.onliner.by/user/avatar/60x60/197713'), width: '60', style: "background-color: #ccc; border: 1px solid #ccc;"), user_path(current_user.id)) %>
              <% end %>
            </div>

            <div class="user user-name drop">
              <div onclick="myFunction()" class="drop-arrow"></div>
              <div id="myDropdown" class="dropdown-content">
                  <%= link_to current_user.name, "#", class: "nickname" %>
                <% if current_user && current_user.admin? %>
                  <%= link_to 'Новая статья', new_post_path %>
                  <%= link_to 'Изменить ранг cтатьи', list_path %>
                  <%= link_to 'Создать категорию', new_category_path %>
                  <%= link_to 'Список категорий', categories_path %>
                  <%= link_to 'Изменить приоритет категории', priority_list_path %>
                  <%= link_to 'Список пользователей', users_path %>
                <% end %>
                <div class="drop-buttom"></div>
                  <%= link_to 'Выйти', logout_path %>
              </div>
            </div>
          <% else %>
            <div class="u-button">
              <div class="button-for-input"><%= link_to 'Вход', new_sessions_path %></div>
            </div>
          <% end %>
        </div>
      </div>

      <%= yield %>

      <div class="footer">
        <span>О компании</span>
        <span>Реклама</span>
        <span>Размещение в каталоге</span>
        <span>Вакансии</span>
        <span>Манифест</span>
        <span>Правила</span>
        <span>Публичный договор</span>
        <span>Поддержка пользователей</span>
      </div>
    </div>
  </body>
</html>
