<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="body">
      <div id="menu">
        <%= link_to 'Все статьи', posts_path %>
        |
        <%= link_to 'Новая статья', new_post_path %>
        |
        Сейчас <%= @time %>

        <% if current_user %>
          <div class="input">
            <%= current_user.name %>
            <div><%= link_to 'Выйти', sessions_destroy_path %></div>
          </div>
        <% else %>
          <div class="input"><%= link_to 'Войти', new_sessions_path %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
