<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="body">
      <div id="menu">
        <%= link_to 'Все статьи', posts_path %>
        |
        <% if current_user && current_user.name == 'admin' %>
          <%= link_to 'Новая статья', new_post_path %>
          |
        <% end %>
        Сейчас <%= time %>

        <div class="input">
          <% if current_user %>
            <div class="user-name"><%= current_user.name %></div>
            <div class="input-or-output"><%= link_to 'Выйти', sessions_destroy_path %></div>
          <% else %>
            <div class="input-or-output"><%= link_to 'Войти', new_sessions_path %></div>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
